{% extends 'base.html' %}

{% block content %}
  <h1>{{ item.title }}</h1>
  <p>Description: {{ item.description }}</p>
  <p>Price: {{ item.price }}</p>
  <p>Condition: {{ item.condition }}</p>
  {% if item.video %}
    <video controls>
      <source src="{{ item.video.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {% endif %}
  <p>Seller: {{ item.owner.username }}</p>
  <p>Created at: {{ item.created_at }}</p>
  <p>Updated at: {{ item.updated_at }}</p>
{% endblock %}