<!-- users/user_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>User List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Profile Picture</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.address }}</td>
          <td><img src="{{ user.profile_picture }}" alt="Profile Picture"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
